<section id="whyContribute">
    <div class="content-section-b">
        <div class="container">

            <div class="row">
                <div class="col-lg-12 col-sm-12">
                    <!-- <div class="clearfix"></div> -->
                    <h2 class="section-heading">Apache Quarks (incubating)</h2>
                    <div class="lead">Apache Quarks is a programming model and micro-kernel style runtime that can be embedded in gateways and small footprint edge devices enabling local, real-time, analytics on the continuous streams of data coming from equipment, vehicles, systems, appliances, devices and sensors of all kinds (for example, Raspberry Pis or smart phones). Working in conjunction with centralized analytic systems, Apache Quarks provides efficient and timely analytics across the whole IoT ecosystem: from the center to the edge.</div>
                </div>
        </div>
    </div>
</section>
