<section id="services">
    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">An Open IoT Ecosystem</h2>
                    <div class="lead">Apache Quarks is API driven and modular and can be used in conjunction with vendor and open source data and analytics solutions such as Apache Kafka, Apache Spark and Apache Storm.  
</div>
                </div>
                <div class="col-lg-7 col-sm-6">  
                    <img class="img-responsive center-block" src="img/services/connection_diagram.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>

</section>
